.nav-search {
  background-color: #333;
  color: #e8e8e8;
  border-radius: 50px;
  /* height: 1vh; */
  text-indent: 15px;
  /* margin-right: 10px; */
}
.nav-search:focus {
  outline: 3px solid #3dd2cc !important;
}
.nav-search-wrapper {
  position: relative;
}

.search-icon {
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1rem;
}

.reset-button {
  background-color: #333;
  color: #e8e8e8;
  border-radius: 50px;
  padding: 5px;
  max-width: 100px;
  min-width: 50px;
  outline: none !important;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-active {
  background-color: #3dd2cc;
}
.nav-search::placeholder {
  color: white;
  text-indent: 15px;
}
.user-icon {
  width: calc(1.3rem + 0.6vw);
  height: calc(1.3rem + 0.6vw);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(135deg, #7ea7e9,#185dcc);
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  cursor:pointer;
}
.active-link {
  background-color: #3dd2cc;
  border: #3dd2cc SOLID 3px;
  border-radius: 50%;
}
.heart {
  color: #3dd2cc !important;
}
.btn-animated {
  display: inline-block;
  position: relative;
  border-radius: 50px;
  padding: 2px;
}

.login-btn {
  background-color: #333;
  color: #e8e8e8;
  border-radius: 50px;
  padding: 15px;
  width: 100px;
  outline: none !important;
  border: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.login-btn:hover {
  background-color: #3dd2cc;
}

.btn-animated::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid transparent;
  border-radius: 52px;
  background: linear-gradient(45deg, #3dd2cc, #2bb8b3);
  clip-path: polygon(
    0% 0%,
    /* Start top-left */ 0% 0%,
    /* Initial state (no border visible) */ 0% 100%,
    /* Draw down left side */ 100% 100%,
    /* Draw across bottom */ 100% 0%,
    /* Draw up right side */ 0% 0% /* Close path */
  );
  animation: snake-border 2.5s linear infinite;
}

@keyframes snake-border {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%);
  }
  16.6% {
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 0%);
  }
  33.3% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 100%, 100% 100%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 0%, 0% 0%);
  }
  66.6% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 0% 0%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 0% 0%, 0% 0%);
  }
}
