::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.scroll-x-hidden::-webkit-scrollbar {
  display: none; 
}

.scroll-x-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
  white-space: nowrap;
}
.scroll-wrapper {
  position: relative;
}

.scroll-x-hidden {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-x-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-fade::before,
.scroll-fade::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.scroll-fade::before {
  left: 0;
  background: linear-gradient(to right, rgb(39, 39, 39), transparent);
}
.scroll-fade::after {
  right: 0;
  background: linear-gradient(to left, rgb(39, 39, 39), transparent);
}