<div class="sidebar">
  <a class="navbar-brand d-flex align-items-center ms-3 my-2" routerLink="/movies">
    <img src="logo.ico" alt="Movibes Icon" class="logo-icon me-2 w-25 h-25" />
    <span class="logo-text fs-3 fw-bold">Movibes</span>
  </a>
  <ul class="nav flex-column px-3">
    @for(sec of section;track sec.id){ @if (sec.id == 1) {
    <li
      class="nav-item mb-2"
      routerLink="{{ sec.href }}"
      routerLinkActive="selected-section"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="sidebarService.disppearSidebar()"
    >
      
      <a class="nav-link text-white"><i [classList]="sec.icon+' me-2'"></i>{{ sec.name }}</a>
    </li>

    } @else {
    <li
      class="nav-item mb-2"
      [routerLink]="[sec.href, sec.param]"
      routerLinkActive="selected-section"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="sidebarService.disppearSidebar()"
    >
      <a (click)="navigate(sec.id)" class="nav-link text-white"
        ><i [classList]="sec.icon+' me-2'"></i>{{ sec.name }}</a
      >
    </li>

    } } @empty { there is no section }
  </ul>
</div>
